// -----------------------------------------------------------------------------
// Shared assets
@import "shared_assets/external/variables";
@import "shared_assets/internal/variables";
@import "shared_assets/shared/variables";
@import "shared_assets/shared/mixins";
@import "shared_assets/shared/extends";
@import "shared_assets/shared/functions";
@import "shared_assets/malmo_external";
@import "shared_assets/malmo_internal";

// -----------------------------------------------------------------------------
// Global assets

// @import 'malmo_<%= APP_CONFIG['audience'] %>';
@import 'global_assets/bootstrap_custom';
@import 'global_assets/jquery-ui.helpers.min';
@import 'global_assets/masthead_standalone';
@import 'global_assets/announcement';
@import 'global_assets/autocomplete';
@import 'global_assets/elements';
@import 'global_assets/forms';
@import 'global_assets/fonts';
@import 'global_assets/masthead';
@import 'global_assets/breadcrumbs';
@import 'global_assets/basic_aside';
@import 'global_assets/content_nav';
@import 'global_assets/basic_nav';
@import 'global_assets/boxes';
@import 'global_assets/messages';
@import 'global_assets/body_copy';
@import 'global_assets/announcement';
@import 'global_assets/share';
@import 'global_assets/contact_us';
@import 'global_assets/maps';
@import 'global_assets/footer';
@import 'global_assets/bigfoot';
@import 'global_assets/sitesearch';
@import 'global_assets/survey';
@import 'global_assets/utils';
@import 'global_assets/token_input_theme';
// @import 'global_assets/bootstrap-datepicker3';
@import 'global_assets/print';
@import 'global_assets/hacks';
@import 'global_assets/custom';
