sites/*/settings*.php
sites/*/files
sites/*/private
drush/contrib/
modules/contrib/
themes/contrib/
libraries
.idea
.DS_Store
build_mal.sh
.vagrant/
build_mal/
scripts/local_variables.sh
local.mal.build
mal_working.make

themes/city_of_malmo/assets/stylesheets
themes/city_of_malmo/assets/.sass-cache
themes/bootstrap/
