/* Override bootstrap */
html {
  font-size: 100%;
}
/* Style header for logged in users */
.logged-in {
  padding-top: 73px !important;
  &.toolbar-drawer {
    padding-top: 107px !important;
    #malmo-masthead {
      top: 64px;
    }
  }

  #admin-menu {
    z-index: 1001;
  }

  #malmo-masthead {
    top: 21px;
  }
}

/* Styles for main wrapper */
.wrapper {
  margin:1em auto;
  max-width:55em;
  padding:0 1em;
  *zoom:1;
  &:before,
  &:after {
    display:table;
    content:'';
    line-height:0;
  }

  &:after {
    clear: both;
  }

  & > article.body-copy {
    clear:both;
    width:65.33333%;
    margin-right:4%;
    float:left;
    -ms-box-sizing:border-box;
    -webkit-box-sizing:border-box;
    -moz-box-sizing:border-box;
    box-sizing:border-box;
    margin-bottom:1em;
  }

  & > nav {
    &.content,
    &.basic {
      width:30.66667%;
      margin-right:0;
      float:left;
      -ms-box-sizing:border-box;
      -webkit-box-sizing:border-box;
      -moz-box-sizing:border-box;
      box-sizing:border-box;
    }
  }

  & > .contact-us {
    margin-bottom:2em;
    width:65.33333%;
    margin-right:4%;
    float:left;
    -ms-box-sizing:border-box;
    -webkit-box-sizing:border-box;
    -moz-box-sizing:border-box;
    box-sizing:border-box;
  }
}

@media (max-width: 48em) {
  .wrapper {
    & > .contact-us {
      width:100%;
      margin-right:2%;
      margin-right:0;
      float:none;
      float:left;
      -ms-box-sizing:border-box;
      -webkit-box-sizing:border-box;
      -moz-box-sizing:border-box;
      box-sizing:border-box;
    }
  }
}

@media (max-width: 48em) {
  .wrapper {
    max-width:34em;
    & > article.body-copy,
    & > nav.content,
    & > nav.basic {
      width:100%;
      margin-right:2%;
      margin-right:0;
      float:none;
      float:left;
      -ms-box-sizing:border-box;
      -webkit-box-sizing:border-box;
      -moz-box-sizing:border-box;
      box-sizing:border-box;
    }
  }
}

article.body-copy {
  img {
    display:block;
    max-width:100%;
    height:auto;
    border:#b5b5b5 1px solid;
    margin:1em 0 2em;
  }

  h2,
  h3,
  h4,
  h5,
  h6 {
    position: relative;
    &:hover .header-link {
      @include opacity(1);
    }
  }

  .header-link {
    width:1em;
    height:1em;
    display:block;
    position:absolute;
    top:.3em;
    left:-1.1em;
    opacity:0;
    color:#007896;
    -webkit-transition:opacity 0.4s ease-in-out 0s;
    -moz-transition:opacity 0.4s ease-in-out 0s;
    -o-transition:opacity 0.4s ease-in-out 0s;
    transition:opacity 0.4s ease-in-out 0s;
    background-size:.8em;
  }
}

@media (max-width: 60em) {
  article.body-copy {
    .header-link {
      display:inline-block;
      margin-left:.5em;
      background-position:bottom left;
      position:static;
    }
  }
}

p code,
li code {
  font-size:1.1em;
  margin:0 .2em;
  padding:0.125em 0.4em 0.0625em;
  border:#cfcfcf 1px solid;
  background-color:#f8f8f8;
  border-radius:2px;
  white-space:nowrap;
}

.highlight {
  clear:both;
  position:relative;
  padding:1em 0 0;
  background:#f5f5f5;
  border:1px solid #ccc;
  margin-bottom:2em;
  overflow:auto;
  & + .highlight {
    margin-top:-2em;
    border-top:none;
  }

  code:before {
    content:attr(class);
    font-size:0.7em/1.1;
  }
}

pre {
  word-wrap:normal;
  font-family:Consolas, Inconsolata, "Droid Sans Mono", "DejaVu Mono", "Bitstream Vera Mono", monospace;
  padding:.5em;
  margin:0;
  font-size:1.1em;
  line-height:1.3;
  .lineno {
    color:#ccc;
    text-align:right;
    border-right:1px solid #ccc;
    padding:0 .4em;
    margin:0;
  }
}

a.dropdown-toggle:hover {
  text-decoration:none;
}

.warning.beta {
  margin-bottom:2em;
  background:#fff;
}

body.editors-draft::after {
  position:fixed;
  bottom:3.4em;
  left:-3.4em;
  -webkit-transform:rotate(45deg);
  -moz-transform:rotate(45deg);
  -ms-transform:rotate(45deg);
  -o-transform:rotate(45deg);
  transform:rotate(45deg);
  -ms-filter:progid:DXImageTransform.Microsoft.Alpha(Opacity=(90));
  filter:alpha(opacity=90);
  opacity:0.9;
  z-index:100;
  background:#c00;
  color:#fff;
  font-family:"OpenSans", "Droid Sans", "Verdana", "DejaVu Sans", "Bitstream Vera Sans", sans-serif;
  font-weight:bold;
  font-size:16px;
  padding-top:.3em;
  padding-bottom:.3em;
  content:'Editors Draft';
  padding-left:4em;
  padding-right:4em;
}

@media (max-width: 43em) {
  body.editors-draft::after {
    font-size:14px;
  }
}

h2 + .example {
  margin-top:.5em;
}

.example {
  position:relative;
  border:#b5b5b5 1px solid;
  border-bottom:0;
  padding:2em 1.4em 1.4em;
  margin-bottom:0;
  article {
    margin:0;
  }

  ul.pagination {
    margin:0;
    padding:0;
  }

  a.btn {
    text-decoration:none;
  }

  .breadcrumbs,
  .breadcrumbs ol {
    margin:0;
    padding:0;
  }

  aside {
    &.basic:not(.contact-us) {
      max-width: 15em;
    }
  }

  &.contact-us {
    margin-top:0;
  }
}

.example::before,
.highlight code::before {
  position:absolute;
  top:.2em;
  left:.4em;
  content:'example';
  color:#999;
  font-family:"OpenSans", "Droid Sans", "Verdana", "DejaVu Sans", "Bitstream Vera Sans", sans-serif;
  text-transform:uppercase;
  font-size:0.7em;
  letter-spacing:0.2em;
}

.grid-example {
  *zoom:1;
  &:before,
  &:after {
    display:table;
    content:'';
    line-height:0;
  }

  &:after {
    clear:both;
  }

  article,
  nav,
  aside {
    width:100%;
    margin-right:2%;
    margin-right:0;
    float:none;
    float:left;
    -ms-box-sizing:border-box;
    -webkit-box-sizing:border-box;
    -moz-box-sizing:border-box;
    box-sizing:border-box;
    border:#c00 1px dashed;
    height:15em;
    padding:.5em;
    margin-bottom:1em;
  }
}

@media (min-width: 40em) {
  .grid-example {
    article {
      width:49%;
      margin-right:2%;
      float:left;
      -ms-box-sizing:border-box;
      -webkit-box-sizing:border-box;
      -moz-box-sizing:border-box;
      box-sizing:border-box;
    }

    nav {
      width:49%;
      margin-right:0;
      float:left;
      -ms-box-sizing:border-box;
      -webkit-box-sizing:border-box;
      -moz-box-sizing:border-box;
      box-sizing:border-box;
    }

    aside {
      width:100%;
      margin-right:2%;
      margin-right:0;
      float:none;
      float:left;
      -ms-box-sizing:border-box;
      -webkit-box-sizing:border-box;
      -moz-box-sizing:border-box;
      box-sizing:border-box;
    }
  }
}

@media (min-width: 50em) {
  .grid-example {
    article {
      width:49%;
      margin-right:2%;
      float:left;
      -ms-box-sizing:border-box;
      -webkit-box-sizing:border-box;
      -moz-box-sizing:border-box;
      box-sizing:border-box;
      margin-top:0;
    }

    nav {
      width:23.5%;
      margin-right:2%;
      float:left;
      -ms-box-sizing:border-box;
      -webkit-box-sizing:border-box;
      -moz-box-sizing:border-box;
      box-sizing:border-box;
    }

    aside {
      width:23.5%;
      margin-right:0;
      float:left;
      -ms-box-sizing:border-box;
      -webkit-box-sizing:border-box;
      -moz-box-sizing:border-box;
      box-sizing:border-box;
    }
  }
}

@media (max-width: 40em) {
  .example {
    padding:2em .6em 1.4em;
    .input-append input {
      max-width:10em;
    }
  }
}

@media (max-width: 25em) {
  .example.buttons .btn {
  margin-bottom:.5em;
}

}

.highlight {
  background:#f5f5f5;
  .c {
    color:#999988;
    font-style:italic;
  }

  .err {
    color:#a61717;
    background-color:#e3d2d2;
  }

  .k {
    font-weight:bold;
  }

  .o {
    font-weight:bold;
  }

  .cm {
    color:#999988;
    font-style:italic;
  }

  .cp {
    color:#999999;
    font-weight:bold;
  }

  .c1 {
    color:#999988;
    font-style:italic;
  }

  .cs {
    color:#999999;
    font-weight:bold;
    font-style:italic;
  }

  .gd {
    color:#000000;
    background-color:#fdd;
  }

  .gd .x {
    color:#000000;
    background-color:#faa;
  }

  .ge {
    font-style:italic;
  }

  .gr {
    color:#a00;
  }

  .gh {
    color:#999;
  }

  .gi {
    color:#000000;
    background-color:#dfd;
  }

  .gi .x {
    color:#000000;
    background-color:#afa;
  }

  .go {
    color:#888;
  }

  .gp {
    color:#555;
  }

  .gs {
    font-weight:bold;
  }

  .gu {
    color:#aaa;
  }

  .gt {
    color:#a00;
  }

  .kc {
    font-weight:bold;
  }

  .kd {
    font-weight:bold;
  }

  .kp {
    font-weight:bold;
  }

  .kr {
    font-weight:bold;
  }

  .kt {
    color:#445588;
    font-weight:bold;
  }

  .m {
    color:#099;
  }

  .s {
    color:#d14;
  }

  .na {
    color:teal;
  }

  .nb {
    color:#0086B3;
  }

  .nc {
    color:#445588;
    font-weight:bold;
  }

  .no {
    color:teal;
  }

  .ni {
    color:purple;
  }

  .ne {
    color:#990000;
    font-weight:bold;
  }

  .nf {
    color:#990000;
    font-weight:bold;
  }

  .nn {
    color:#555;
  }

  .nt {
    color:navy;
  }

  .nv {
    color:teal;
  }

  .ow {
    font-weight:bold;
  }

  .w {
    color:#bbb;
  }

  .mf {
    color:#099;
  }

  .mh {
    color:#099;
  }

  .mi {
    color:#099;
  }

  .mo {
    color:#099;
  }

  .sb {
    color:#d14;
  }

  .sc {
    color:#d14;
  }

  .sd {
    color:#d14;
  }

  .s2 {
    color:#d14;
  }

  .se {
    color:#d14;
  }

  .sh {
    color:#d14;
  }

  .si {
    color:#d14;
  }

  .sx {
    color:#d14;
  }

  .sr {
    color:#009926;
  }

  .s1 {
    color:#d14;
  }

  .ss {
    color:#990073;
  }

  .bp {
    color:#999;
  }

  .vc {
    color:teal;
  }

  .vg {
    color:teal;
  }

  .vi {
    color:teal;
  }

  .il {
    color:#099;
  }
}

/* Style sidebar menu header */
nav.content {
  .menu {
    margin-bottom: 2em;
  }
  h2 {
    border-bottom: #b5b5b5 1px solid;
    font-size: 1em;
    font-family: "OpenSans", "Droid Sans", "Verdana", "DejaVu Sans", "Bitstream Vera Sans", sans-serif;
    font-weight: bold;
    line-height: 1.2;
    margin: 0;
    overflow: hidden;
    padding: 0 .3em .2em;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
}

/* header LOGIN IN  */
.logged-in #malmo-masthead { top: 0; }
.coffee-processed #malmo-masthead { top: 21px; }

/* --------FOOTER BOTTOM---------  */
/* ------body-------- */
body {
  position: absolute;
  width: 100%;
  min-height: 100%;
  top: 0;left: 0;
}
/* --------wrapper------- */
.wrapper {margin-bottom: 180px;}
/* --------footer---------- */
footer#malmo-footer {
  width: 100%;
  position: absolute !important;
  bottom: 0;
}
/* --------CLOSE FOOTER BOTTOM---------  */


/*----------FAQ----------*/
.faq-list-questions {
  & ul {
    list-style: none;
    margin: 0;
    padding: 0;
  }
  & .question {
    position: relative;
    @extend h2.body-copy;
    @extend %main-button;
    margin: 10px 0;
    padding-left: 25px;
    @include before_content() {
      width: 18px;
      left: 0;
      background: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABQAAAAlCAYAAABCr8kFAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAyBpVFh0WE1MOmNvbS5hZG9iZS54bXAAAAAAADw/eHBhY2tldCBiZWdpbj0i77u/IiBpZD0iVzVNME1wQ2VoaUh6cmVTek5UY3prYzlkIj8+IDx4OnhtcG1ldGEgeG1sbnM6eD0iYWRvYmU6bnM6bWV0YS8iIHg6eG1wdGs9IkFkb2JlIFhNUCBDb3JlIDUuMC1jMDYwIDYxLjEzNDc3NywgMjAxMC8wMi8xMi0xNzozMjowMCAgICAgICAgIj4gPHJkZjpSREYgeG1sbnM6cmRmPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5LzAyLzIyLXJkZi1zeW50YXgtbnMjIj4gPHJkZjpEZXNjcmlwdGlvbiByZGY6YWJvdXQ9IiIgeG1sbnM6eG1wPSJodHRwOi8vbnMuYWRvYmUuY29tL3hhcC8xLjAvIiB4bWxuczp4bXBNTT0iaHR0cDovL25zLmFkb2JlLmNvbS94YXAvMS4wL21tLyIgeG1sbnM6c3RSZWY9Imh0dHA6Ly9ucy5hZG9iZS5jb20veGFwLzEuMC9zVHlwZS9SZXNvdXJjZVJlZiMiIHhtcDpDcmVhdG9yVG9vbD0iQWRvYmUgUGhvdG9zaG9wIENTNSBXaW5kb3dzIiB4bXBNTTpJbnN0YW5jZUlEPSJ4bXAuaWlkOjlEQ0QzRDEwNTJFRTExRTQ4NkRGRkU5NjUwMzQ3NDUyIiB4bXBNTTpEb2N1bWVudElEPSJ4bXAuZGlkOjlEQ0QzRDExNTJFRTExRTQ4NkRGRkU5NjUwMzQ3NDUyIj4gPHhtcE1NOkRlcml2ZWRGcm9tIHN0UmVmOmluc3RhbmNlSUQ9InhtcC5paWQ6OURDRDNEMEU1MkVFMTFFNDg2REZGRTk2NTAzNDc0NTIiIHN0UmVmOmRvY3VtZW50SUQ9InhtcC5kaWQ6OURDRDNEMEY1MkVFMTFFNDg2REZGRTk2NTAzNDc0NTIiLz4gPC9yZGY6RGVzY3JpcHRpb24+IDwvcmRmOlJERj4gPC94OnhtcG1ldGE+IDw/eHBhY2tldCBlbmQ9InIiPz6eR5ndAAAAdklEQVR42mL4//8/AzYMBVuA+D8aBokx4NLHxEBlMGrgSDCQEZq2RsNwEBnIAsSz8Mh7ALEcmtgjIN6BU8doaTNqIHnpEB+4A8RnsYjhLm2Q0hyqBCMjXptw6WMhVcNoLA9BA6kOQInNeLQaHQFtmzRqGggQYADu02N2yLhjCwAAAABJRU5ErkJggg==') -1px -2px no-repeat;
      @include center-vertical(18);
    }
  }
  & .answer {
    height: 0;
    overflow: hidden;
  }
  & .icon-open-close .question {
    @include before_content() {
      background-position: -1px -25px;
    }
  }
  & .open-close {
   height: auto;
  }
}


/* ----FORM INPUT---- */
.form-item {
  margin: 10px 0;
  & input { margin: 0 0 5px; }
}
#global-search-form {
  position: relative;
  input,
  button {
    @include border-radius(3px);
    height: 40px;
  }
  .form-text {
    color: #474747;
    font-size: 18px;
    padding: 0 80px 0 10px;
  }
  .form-submit {
    background: none;
    @include background-image(linear-gradient(rgb(255, 255, 255), rgb(224, 224, 224)));
    @include border-left-radius(0);
    border: 1px solid #ccc;
    color: #333;
    font-weight: bold;
    padding: 4px 10px;
    position: absolute;
    top: 0;
    right: 0;
    @include text-shadow(none);
  }
}

/* ------- Search filter block -------- */
.search-filter {
  position: relative;
  &:after {
    content:"";
    display:table;
    clear:both;
  }
  & > .pane-title {
    color: #4f4f4f;
    cursor: pointer;
    font-size: 12px;
    font-family: "OpenSans", "Droid Sans", "Verdana", "DejaVu Sans", "Bitstream Vera Sans", sans-serif;
    float: left;
    margin: 0 20px 0 0;
    padding-bottom: 20px;
    &:before {
      content: "";
      @include inline-block(top);
      background: url(../../images/icon-sprite.png) center -34px no-repeat;;
      height: 12px;
      margin: 1px 5px 0 0;
      width: 12px;
    }
    &.active {
      background: url(../../images/icon-sprite.png) center 19px no-repeat;
      & + .search-minipanel {
        display: block;
      }
    }
  }
  .search-minipanel {
    background: #fff;
    border: 1px solid #ccc;
    display: none;
    font-family: "OpenSans", "Droid Sans", "Verdana", "DejaVu Sans", "Bitstream Vera Sans", sans-serif;
    padding: 15px 20px;
    position: absolute;
    left: 0;
    top: 33px;
    z-index: 1;
  }
  .desc {
    color: #4F4F4F;
    float: left;
    margin-right: 5%;
    width: 32%;
    * {
      font-size: 14px;
    }
  }
  .filter {
    color: #4F4F4F;
    float: left;
    width: 63%;
    .pane-title {
      font-size: 14px;
      margin: 0 0 10px;
    }
    * {
      font-size: 12px;
    }
    ul {
      margin: 0 0 10px;
      padding: 0;
    }
    li {
      display: inline;
      margin: 0;
      &:before {
        content: "\00B7";
        margin-right: 3px;
      }
      &:first-child:before {
        content: none;
      }
    }
    a {
      color: #4f4f4f;
      &.facetapi-active {
        background: url(../../images/icon-sprite.png) -3px -118px no-repeat;
        color: #007896;
        font-weight: bold;
        padding-left: 15px;
      }
    }
  }
}


/* ---------media-------- */
@media only screen and (max-width: 515px) {
  .wrapper { margin-bottom: 470px; }
}
