#survey {
  margin: 1em 0 1.5em;
  section {
    display: none;
    padding-bottom: 1em;
    &.page-1 {
      display: block;
    }
    h1 {
      @extend %h1.body-copy;
      font-family: $serif;
      margin: .2em 0 .5em;;
    }
    p {
      font-family: $serif;
      font-size: emize(17, 14);
      line-height: emize(25, 17);
    }
  }
  select {
    max-width: 30em;
    margin-bottom: 2em;
  }
}
