/* Zentropy layout styles */
/* Targets screens 1382px and larger */

/* A lot of these were borrowed from Basic */
/* @link http://drupal.org/project/basic */

/* Holy Grail Layout ---------------------------------------------------------
   ref: http://www.alistapart.com/articles/holygrail
   This layout takes advantage of negative margins to float the sidebars to
   either side of the main content. It also floats the navigation above the
   content, but you could just as easily absolutely position it.
   
   LC stands for Left Column, RC for Right Column
   
   Obvously, this layout is for left-to-right languages. For a
   right-to-left layout, just swap all the left and rights below.
*/
div.page {
  width: 1356px;
  margin: 0 auto;
}

div.content-main,
aside.sidebar-first,
aside.sidebar-second {
  float: left;
}

div.content-main {
  width: 100%;
  margin-right: -100%;
}

/* Sidebars */
/* Changing the width of the sidebars is dead easy, just change the
   values below corresponding to the sidebar you want to modify.
   Make sure you keep negative values as negative values.

   We can afford fatter sidebars with this resolution.
*/

body.sidebar-first div.content-main .content-inner {
  padding-left: 240px;   /* LC width */
}

body.sidebar-second div.content-main .content-inner {
  padding-right: 240px;  /* RC width */
}

body.two-sidebars div.content-main .content-inner {
  padding-left: 240px;   /* LC width */
  padding-right: 240px;  /* RC width */
}

aside.sidebar-first {
  width: 240px;          /* LC width */
  margin-right: -240px;  /* LC width */
}

aside.sidebar-second {
  float: right;
  width: 240px;          /* RC width */
  margin-left: -240px;   /* RC width */
}

/* Triptychs */

.region-triptych-first,
.region-triptych-middle,
.region-triptych-last,
.region-footer-firstcolumn,
.region-footer-secondcolumn,
.region-footer-thirdcolumn,
.region-footer-fourthcolumn {
  display: inline;
  float: left; /* LTR */
  position: relative;
}

.region-triptych-first,
.region-triptych-middle,
.region-triptych-last {
  margin: 20px 20px 30px 20px;
  width: 412px;
}

/* Footer columns */

.region-footer-firstcolumn,
.region-footer-secondcolumn,
.region-footer-thirdcolumn,
.region-footer-fourthcolumn {
  padding: 0 10px;
  width: 319px;
}