#!/bin/bash

SITE_FOLDER="build_mal"

LOCAL_MAKE_FILE="local.mal.make"

DB_URL="mysql://root:@127.0.0.1/mal"

SEARCH_API_HOST="\"localhost\""
SEARCH_API_PATH="\"/solr/core0\""
SEARCH_API_PORT="\"8983\""
SEARCH_API_HTTP_USER="\"\""
SEARCH_API_HTTP_PASS="\"\""
