// ☺ (utf-8 hack for sass compile)
// Used for web apps that only includes the masthead and footer.
// Will only style elements inside the #malmo-masthead and #malmo-footer
@import 'shared_assets/malmo_external';

// @import 'bootstrap_custom';
// @import 'jquery-ui.helpers.min';
@import 'autocomplete';
@import 'sitesearch';

@import 'masthead';
#malmo-masthead {
  font-size: 16px;
  text-rendering: optimize-legibility;
}

@import 'footer';
@import 'fonts';

body {
  padding: 0;
  margin: 3.5em 0 0;
}

a,
a:hover {
  text-decoration: none;
}
