/*
Syntax error: Undefined mixin 'clearfix'.
        on line 3 of /home/rylov/www/mal/sites/all/themes/city_of_malmo/stylesheets/announcement.css.scss, in `clearfix'
        from line 3 of /home/rylov/www/mal/sites/all/themes/city_of_malmo/stylesheets/announcement.css.scss

1: /home/rylov/www/mal/sites/all/themes/city_of_malmo/stylesheets/announcement.css.scss

Backtrace:
/home/rylov/www/mal/sites/all/themes/city_of_malmo/stylesheets/announcement.css.scss:3:in `clearfix'
/home/rylov/www/mal/sites/all/themes/city_of_malmo/stylesheets/announcement.css.scss:3
/usr/local/rvm/gems/ruby-1.8.7-p374/gems/sass-3.2.14/lib/sass/../sass/tree/visitors/perform.rb:253:in `visit_mixin'
/usr/local/rvm/gems/ruby-1.8.7-p374/gems/sass-3.2.14/lib/sass/../sass/tree/visitors/base.rb:37:in `send'
/usr/local/rvm/gems/ruby-1.8.7-p374/gems/sass-3.2.14/lib/sass/../sass/tree/visitors/base.rb:37:in `visit'
/usr/local/rvm/gems/ruby-1.8.7-p374/gems/sass-3.2.14/lib/sass/../sass/tree/visitors/perform.rb:100:in `visit'
/usr/local/rvm/gems/ruby-1.8.7-p374/gems/sass-3.2.14/lib/sass/../sass/tree/visitors/base.rb:53:in `visit_children'
/usr/local/rvm/gems/ruby-1.8.7-p374/gems/sass-3.2.14/lib/sass/../sass/tree/visitors/base.rb:53:in `map'
/usr/local/rvm/gems/ruby-1.8.7-p374/gems/sass-3.2.14/lib/sass/../sass/tree/visitors/base.rb:53:in `visit_children'
/usr/local/rvm/gems/ruby-1.8.7-p374/gems/sass-3.2.14/lib/sass/../sass/tree/visitors/perform.rb:109:in `visit_children'
/usr/local/rvm/gems/ruby-1.8.7-p374/gems/sass-3.2.14/lib/sass/../sass/tree/visitors/perform.rb:121:in `with_environment'
/usr/local/rvm/gems/ruby-1.8.7-p374/gems/sass-3.2.14/lib/sass/../sass/tree/visitors/perform.rb:108:in `visit_children'
/usr/local/rvm/gems/ruby-1.8.7-p374/gems/sass-3.2.14/lib/sass/../sass/tree/visitors/base.rb:37:in `visit'
/usr/local/rvm/gems/ruby-1.8.7-p374/gems/sass-3.2.14/lib/sass/../sass/tree/visitors/perform.rb:320:in `visit_rule'
/usr/local/rvm/gems/ruby-1.8.7-p374/gems/sass-3.2.14/lib/sass/../sass/tree/visitors/base.rb:37:in `send'
/usr/local/rvm/gems/ruby-1.8.7-p374/gems/sass-3.2.14/lib/sass/../sass/tree/visitors/base.rb:37:in `visit'
/usr/local/rvm/gems/ruby-1.8.7-p374/gems/sass-3.2.14/lib/sass/../sass/tree/visitors/perform.rb:100:in `visit'
/usr/local/rvm/gems/ruby-1.8.7-p374/gems/sass-3.2.14/lib/sass/../sass/tree/visitors/base.rb:53:in `visit_children'
/usr/local/rvm/gems/ruby-1.8.7-p374/gems/sass-3.2.14/lib/sass/../sass/tree/visitors/base.rb:53:in `map'
/usr/local/rvm/gems/ruby-1.8.7-p374/gems/sass-3.2.14/lib/sass/../sass/tree/visitors/base.rb:53:in `visit_children'
/usr/local/rvm/gems/ruby-1.8.7-p374/gems/sass-3.2.14/lib/sass/../sass/tree/visitors/perform.rb:109:in `visit_children'
/usr/local/rvm/gems/ruby-1.8.7-p374/gems/sass-3.2.14/lib/sass/../sass/tree/visitors/perform.rb:121:in `with_environment'
/usr/local/rvm/gems/ruby-1.8.7-p374/gems/sass-3.2.14/lib/sass/../sass/tree/visitors/perform.rb:108:in `visit_children'
/usr/local/rvm/gems/ruby-1.8.7-p374/gems/sass-3.2.14/lib/sass/../sass/tree/visitors/base.rb:37:in `visit'
/usr/local/rvm/gems/ruby-1.8.7-p374/gems/sass-3.2.14/lib/sass/../sass/tree/visitors/perform.rb:128:in `visit_root'
/usr/local/rvm/gems/ruby-1.8.7-p374/gems/sass-3.2.14/lib/sass/../sass/tree/visitors/base.rb:37:in `send'
/usr/local/rvm/gems/ruby-1.8.7-p374/gems/sass-3.2.14/lib/sass/../sass/tree/visitors/base.rb:37:in `visit'
/usr/local/rvm/gems/ruby-1.8.7-p374/gems/sass-3.2.14/lib/sass/../sass/tree/visitors/perform.rb:100:in `visit'
/usr/local/rvm/gems/ruby-1.8.7-p374/gems/sass-3.2.14/lib/sass/../sass/tree/visitors/perform.rb:7:in `send'
/usr/local/rvm/gems/ruby-1.8.7-p374/gems/sass-3.2.14/lib/sass/../sass/tree/visitors/perform.rb:7:in `visit'
/usr/local/rvm/gems/ruby-1.8.7-p374/gems/sass-3.2.14/lib/sass/../sass/tree/root_node.rb:20:in `render'
/usr/local/rvm/gems/ruby-1.8.7-p374/gems/sass-3.2.14/lib/sass/../sass/engine.rb:315:in `_render'
/usr/local/rvm/gems/ruby-1.8.7-p374/gems/sass-3.2.14/lib/sass/../sass/engine.rb:262:in `render'
/usr/local/rvm/gems/ruby-1.8.7-p374/gems/compass-0.12.3/lib/compass/compiler.rb:140:in `compile'
/usr/local/rvm/gems/ruby-1.8.7-p374/gems/compass-0.12.3/lib/compass/compiler.rb:126:in `timed'
/usr/local/rvm/gems/ruby-1.8.7-p374/gems/compass-0.12.3/lib/compass/compiler.rb:139:in `compile'
/usr/local/rvm/gems/ruby-1.8.7-p374/gems/compass-0.12.3/lib/compass/logger.rb:45:in `red'
/usr/local/rvm/gems/ruby-1.8.7-p374/gems/compass-0.12.3/lib/compass/compiler.rb:138:in `compile'
/usr/local/rvm/gems/ruby-1.8.7-p374/gems/compass-0.12.3/lib/compass/compiler.rb:118:in `compile_if_required'
/usr/local/rvm/gems/ruby-1.8.7-p374/gems/compass-0.12.3/lib/compass/compiler.rb:103:in `run'
/usr/local/rvm/gems/ruby-1.8.7-p374/gems/compass-0.12.3/lib/compass/compiler.rb:101:in `each'
/usr/local/rvm/gems/ruby-1.8.7-p374/gems/compass-0.12.3/lib/compass/compiler.rb:101:in `run'
/usr/local/rvm/gems/ruby-1.8.7-p374/gems/compass-0.12.3/lib/compass/compiler.rb:126:in `timed'
/usr/local/rvm/gems/ruby-1.8.7-p374/gems/compass-0.12.3/lib/compass/compiler.rb:100:in `run'
/usr/local/rvm/gems/ruby-1.8.7-p374/gems/compass-0.12.3/lib/compass/commands/watch_project.rb:147:in `recompile'
/usr/local/rvm/gems/ruby-1.8.7-p374/gems/compass-0.12.3/lib/compass/commands/watch_project.rb:68:in `perform'
/usr/local/rvm/gems/ruby-1.8.7-p374/gems/compass-0.12.3/lib/compass/commands/base.rb:18:in `execute'
/usr/local/rvm/gems/ruby-1.8.7-p374/gems/compass-0.12.3/lib/compass/commands/project_base.rb:19:in `execute'
/usr/local/rvm/gems/ruby-1.8.7-p374/gems/compass-0.12.3/lib/compass/exec/sub_command_ui.rb:43:in `perform!'
/usr/local/rvm/gems/ruby-1.8.7-p374/gems/compass-0.12.3/lib/compass/exec/sub_command_ui.rb:15:in `run!'
/usr/local/rvm/gems/ruby-1.8.7-p374/gems/compass-0.12.3/bin/compass:30
/usr/local/rvm/gems/ruby-1.8.7-p374/gems/compass-0.12.3/bin/compass:44:in `call'
/usr/local/rvm/gems/ruby-1.8.7-p374/gems/compass-0.12.3/bin/compass:44
/usr/local/rvm/gems/ruby-1.8.7-p374/bin/compass:23:in `load'
/usr/local/rvm/gems/ruby-1.8.7-p374/bin/compass:23
/usr/local/rvm/gems/ruby-1.8.7-p374/bin/ruby_executable_hooks:15
*/
body:before {
  white-space: pre;
  font-family: monospace;
  content: "Syntax error: Undefined mixin 'clearfix'.\A         on line 3 of /home/rylov/www/mal/sites/all/themes/city_of_malmo/stylesheets/announcement.css.scss, in `clearfix'\A         from line 3 of /home/rylov/www/mal/sites/all/themes/city_of_malmo/stylesheets/announcement.css.scss\A \A 1: /home/rylov/www/mal/sites/all/themes/city_of_malmo/stylesheets/announcement.css.scss"; }
